header{

  background-color: black; /*cor de fundo*/
  font: size 20px;          /*coloca tamanho da fonte*/
  color: aliceblue;    /*coloca cor da fonte*/
  width: 100%;      /*coloca largura da janela*/
  height: 80px;   /*coloca altura no espaço do cabeçalho*/

}
