.body{
background-color: rgb(248, 247, 247);
color: rgb(240, 245, 245); 
align-items: center;
text-align: center;
position: center;
}

.header{
 background-color: rgb(2, 2, 2);
 align-items: center;
 text-align: center;
 position: center;
 position: absolute;
 align-self: center;
font-size: smaller;
 text-align-last: justify;
}

.açaí{
  background-image: url(Açaí.jpg);
   height: 100px;
   background-position: center;
   background-size: cover;

}

.form-container{
  display: flex;
  justify-content:right;

}

.form-container form{
  width: 25%;



}

.header{


}